@{
    ViewBag.Title = "Qui Sommes-Nous";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img class="img-responsive" src="~/Images/apiary-1866740_1920.jpg" height="60" width="850" style="margin-bottom: -10px" />
<p></p>
