@{
    ViewBag.Title = "Qui Sommes-Nous";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Jeune societé bourdonnant d'idées localisé à Montreal.
    Notre mission est de partager cet art traditionnel, 
     en utilisant la poussée technologique et l’émergence des sciences de technologie. 
    En effet, de nos jours, il est impératif 
    d’utiliser le web (e-commerce / le commerce électronique) pour vendre des biens 
    et des services.
</p>
<img class="img-responsive" src="~/Images/apiary-1866740_1920.jpg" height="60" width="850" style="margin-bottom: -10px" />

